@using Northwind.Models
@model IEnumerable<Order>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Order ID</th>
            <th scope="col" class="text-right">Order Date</th>
            <th scope="col" class="text-right">Required Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Order o in Model)
        {
        <tr>
            <td>@o.OrderID</td>
            <td class="text-right">@o.OrderDate</td>
            <td class="text-right">@o.RequiredDate</td>
        </tr>
        }
    </tbody>
</table>
